/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 10px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal.active {
    display: block;
}


/* Modal Content */

.header {
    display: block;
    background-color: #37d43a;
}

.header-text {
    display: block;
    float: left;
    background-color: #AA6337;
}

.content-text {
    font-size: larger;
    font-family: "Ogilvie Cyr";
    display: flex;
    align-content: space-between;
}

.modal-content {
    color: #000000;
    background-color: #B46F45;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}


/* The Close Button */
.close {
    display: none;
    float: right;
}

.close.active {
    display: block;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
