.field{
    display: flex;
    flex-direction: column;
    margin-left: 11px;
    margin-top: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.0);
    color: #000000;
}