@font-face {
    font-family: 'Ogilvie Cyr';
    src: url(fonts/ogilvie_c.ttf);
}

.next-point {
    align-content: center;
    justify-content: center;
    display: flex;
    height: 60px;
    width: 60px;
    margin-left: -15px;
    margin-top: 57px;
}

.field9x9big {
    display: flex;
    min-width: 800px;
    width: 800px;
    height: 800px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("img/board9x9_.jpg");
    background-size: cover;

}

.field9x9 {
    margin-top: 22px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 525px;
    justify-content: center;
}

.field3x3 {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    /*z-index: 1;*/
    /*background-color: rgb(0, 0, 0);*/
    /*background-color: rgba(0, 0, 0, 0.0);*/
    width: 45px;
    height: 42px;
    justify-content: center;
    background-image: url("http://localhost:3000/img/board3x3.jpg");
    background-size: cover;
}

@media screen and (min-width: 1200px) {
    .header-footer {
        font-size: xxx-large;
    }
}