/*.main-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    !*margin: 40px;*!*/
/*}*/

.container {
    font-size: xx-large;
    min-width: 900px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #287e68;
    background-image: url("img/dao.jpg");
    background-size: cover;
}

.header-footer {
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.0);

}

.menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Ogilvie Cyr";
    margin-top: 80px;
    margin-bottom: 80px;
}
